.logo-text{
    font-size: 20px !important;
    font-weight: 700;
}

.header{
    width: 100vw;
    background-color: #212121;
    border: none;
    color: white;
}

.header-items{
    button{
        display: flex;
    }
    a{
        display: flex;
    }
    svg{
        height: 16px;
    }
}