.market-line{
    margin-left: 15%;
    background-color: rgb(20, 117, 14);
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}