.sale-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 15%;
    
   
}


.sale-card{
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
 
}

.salecard-image{
    width: 400px;
    height: 400px !important;
    object-fit: cover;
  

}

.card-descb{
    height: 75px;
}

.card-extras{
    display: flex;
    justify-content: space-between;
    margin: 0 12px;
    
}

.post-seller{
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        text-transform: uppercase;
    }

    p{
        font-size: 12px;
        
    }
}


